@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato:ital,wght@0,400;0,700;0,900;1,400&family=Poppins&display=swap');

body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.header {
    height: 20%;
    background-color: blue;
}

.tela_principal {
    display: flex;
    width: 100%;
    height: 200vh;
}

/* .menu_conteiner {
    display: flex;
} */

.menu_lateral {
    height: 100%;
    width: 10%;
    background-color: red;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #01161E;
    height: 100%;
    width: 100%;
    padding: 1.25rem;
}

.container_select_dashboards {
    margin-bottom: 2rem;
}


.select_dashboard {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: rgba(18, 69, 89, 0.5);
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.2rem;
    padding: 0.5em 1em;
    border: 0;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(18, 69, 89, 0.25);
    -moz-box-shadow: 0px 4px 4px 0px rgba(18, 69, 89, 0.25);
    box-shadow: 0px 4px 4px 0px rgba(18, 69, 89, 0.25);

}


.select_dashboard option {
    background-color: #598392;
}

.informations_container {
    display: flex;
    width: 100%;
    height: 100%;
}

.dashboard_container {
    width: 70%;
    height: 100%;
}

.kpis_boxes_container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-right: 1.25rem;
    height: auto;
}

.kpi_box {
    display: flex;
    flex-direction: column;
    width: 27%;
    padding: 1rem 1rem;
    background-color: rgba(18, 69, 89, 0.50);
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(18, 69, 89, 0.25);
}

.kpi_title {
    color: #FFF;
    font-family: Poppins;
    font-size: 0.9rem;
    font-style: normal;
}

.kpi_data {
    color: #FFF;
    font-family: Poppins;
    font-size: 1.4rem;
    font-style: normal;
}

.notifications_container {
    width: 30%;
    height: 100%;
}

.notification_box {
    width: 100%;
    height: 100%;
    background-color: red;
}

.chart_fluxo_rede_container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
    height: 15%;
    width: 95%;
    margin-top: 1.5rem;
    padding-right: 1.25rem;
    border-radius: 10px;
}

.line_chart {
    width: 95%;
}

.rankings_container {
    display: flex;
    height: auto;
    width: 95%;
    margin-top: 1.5rem;
    border-radius: 10px;
    justify-content: space-between;
}

.ranking_labs {
    display: flex;
    flex-direction: column;
    width: 45%;
    padding: 1rem;
    background-color: rgba(18, 69, 89, 0.50);
    box-shadow: 0px 4px 4px 0px rgba(18, 69, 89, 0.25);
    border-radius: 10px;
}

.chart_memoria_utilizada {
    width: 40%;
    padding: 1rem;
    background-color: rgba(18, 69, 89, 0.50);
    box-shadow: 0px 4px 4px 0px rgba(18, 69, 89, 0.25);
    border-radius: 10px;
    color: #FFF;
    font-family: Poppins;
    font-size: 1rem;
}

.ranking_labs_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
    font-family: Poppins;
    font-size: 1rem;
}

.ranking_labs_header p {
    margin: 0;
}

.ranking_labs_header .more_info_btn_img{
    cursor: pointer;
}

.ranking_labs_header .more_info_btn_img:hover{
    transform: scale(1.15);
    transition: 0.4s;
}

.ranking_labs table {
    color: #fff;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.1rem;
    font-family: 'Inter', sans-serif;
    border-radius: 0.25rem;
    border: 1px solid #0B2545;
    background-color: #124559;
}

.ranking_labs tr {
    background-color: #FFFFFF0D;
    line-height: 1.65rem;

}

.ranking_labs .table_rknLabs_pos {
    width: 10%;
    padding: 0.3rem;
    text-align: center;
}

.ranking_labs .table_rknLabs_nomeLab{
    padding: 0.25rem 0.5rem;
}