@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Poppins:ital@0;1&display=swap');

body{
  display: flex;
  align-items: center;
  justify-content: center;  
  background-color: rgb(5, 14, 26);
  font-family: 'Poppins', sans-serif;
}
.container{
    width: 40%;
    height: 50vh;
    background-color: rgb(85, 85, 209);
    margin-top: 12%;
    border-radius: 25px;
}
.topo{
    width: 100%;
    height: 12%;
    background-color: #124559;
    border-radius: 25px 25px 0 0 ;
    display: flex;
    color: white;
    align-items: center;
}
.titulo{
font-size: 3vh;
font-family: 'Poppins', sans-serif;
margin-right: 12vh;
padding-left: 4%;
width: 50%;
}

.botaoFechar{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2%;
}

.botaoFechar button{
    width: 5vh;
    border-radius: 50px;
    background-color: #A6CEE3;
    font-size: xx-large;
    
}





.meioPopUp{
    width: 100%;
    height: 28vh;
background-color: #A6CEE3;
display: flex;
justify-content: space-around;
}

.divImagemUsuario{
    width: 20%;
    display : flex ;
    align-items: center;

}

.imagemUsuario{
    height: 100%;
}



.campoInput{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 4vh;
    width: 70%;
    padding-right: 5%;

}

.campoInput label{
    width: 76%;
}

.campoInput input{
    width: 75%;
    height: 15%;
    border-radius: 10px;
    border-color: white;
}
label{
    font-size: large;
}
.campoInputSenha{
    width: 100%;
    height: 10vh;
    background-color: #A6CEE3 ;
    display: flex;
}

.campoInputSenha input{
    height: 35%;
    width: 86%;
    border-radius: 10px;
    border-color: white;
}

.senha{
    width: 50%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.senha input{
    margin-top: -25px;
    margin-right:4px ;
}

.senha label{
    width: 88%;
}


.repetir_senha{
    width: 50%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.repetir_senha input{
    margin-top: -25px;
}


.containerFinal{
    width: 100%;
    height: 12%;
    background-color: #124559;
    display: flex;
    color: white;
    justify-content: space-around;
    border-radius: 0px 0px 25px 25px ;
}
.cadastrar{
    width: 100%;
    font-size: x-large;
    font-family: 'Poppins', sans-serif;
    background-color: #124559;
    color: white;
    border-color: #00000000;
    border-radius: 0px 0px 25px 25px ;
}



.cadastrar:hover,
.cadastrar:focus {
  background: #062430;
  transition: background 1s;
}

