body{
    margin: 0px;
}
.header{
    height: 7vb;
    background-color: blue;
}

.menu_conteiner{
display: flex;
}

.menu_lateral{
    display: flex;
    height: 93vh;
    width: 20vw;
    background-color: red;
}

.menu_central{
    display: flex;
    background-color: green;
    height: 91vh;
    width: 200vw;
    padding-left: 2vw;
    padding-top: 1vw;
    flex-direction: column;
}

.primeira_caixa{
    display: flex;
    background-color: white;
    height: 8vh;
    width: 86vw;
    border-radius: 5px;
    margin-bottom: 2%;
}

.conteiner_caixas{
    display: flex;
    flex-direction: initial;
}

.caixas{
    background-color: white;
    height: 13vh;
    width: 20vw;
    border-radius: 5px;
    margin-right: 2vw;
}

.caixa_grande{
    height: 78vh;
    width: 20vw;
    background-color: white;
    border-radius: 5px;
    margin-right: 2vw;
}

.geralzinha{
    display: flex;
}

.dash{
    background-color: white;
    height: 28vh;
    width: 64vw;
    border-radius: 5px;
    display: flex;
    margin-top: 17vh;
    position: absolute;

}

.inferior{
    display: flex;
    margin-top: 50vh;
    position: absolute;
}

.caixaUm{
    background-color: white;
    width: 32vw;
    height: 26vh;
    border-radius: 5px;
}

.caixaDois{
    background-color: white;
    width: 30vw;
    height: 26vh;
    margin-left: 2vw;
    border-radius: 5px;

}